
@use "utils.scss" as utils;
@use "sass:math";

* {
    margin: 0;
    padding: 0;
}


.max-content {
    width: 100%;
    background-color: #fffFFF;
}

#main-view {
    width: 100%;
    height: 100vh;
    background-color: #DCDCDC;
    background-image: url("../image/main-v.jpg");
    background-size: cover;
    position: relative;

    .rectangle {
        border-left: 800px solid utils.$base-color;
        border-top-width: 170px;
        border-bottom-width: 170px;
        z-index: 2;
        position: relative;
        top: -170px;
        
        p {
            position: absolute;
            left: -770px;
            font-size: 50px;
            color: #FFFFFF;
            bottom: -120px;
        }
    }
    
    &::after {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #00000038;
        z-index: 1;
    }
    

    .text-box {
        z-index: 2;
        position: absolute;
        bottom: 20%;
        left: 50px;

        p {
            font-size: 40px;
            color: #fffFFF;

            &.text-large {
                font-size: 70px;
            }
            &.text-bold {
                font-weight: bold;
            }
        }
    }
}

#liver-fst {
    background-color: utils.$base-color;
    padding-top: 87px;
    padding-bottom: 64px;
    text-align: center;
    line-height: 3rem;
    font-size: 25px;

    .link-btn {
        background-color: #000000;
        text-align: center;
        width: 552px;
        height: 63px;
        line-height: 63px;
        display: block;
        margin: 40px auto 0 auto;
        color: #FFFFFF;
        text-decoration: none;
        font-size: 18px;
    }
}

.container {
    width: 731px;
    margin: 0 auto;

    h2 {
        margin-top: 63px;
        margin-bottom: 43px;
    }
    .cnt-item-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .cnt-item {
            $width-item: math.div(731px, 2) - 20;
            max-width: $width-item;
            min-width: $width-item;
            // height: $width-item;
            background-color: utils.$base-color;
            margin-bottom: 40px;
            box-sizing: border-box;
            padding: 50px 40px;

            .svg {
                text-align: center;

                img {
                    width: 70px;
                }
            }
            .item-text {
                color: #FFFFFF;
                text-align: center;
                margin-top: 40px;
                font-size: 13px;
            }
        }
    }
}

#question {
    width: 731px;
    margin: 0 auto;

    .question-item {
        background-color: #f3f7fbff;
        margin-bottom: 20px;

        .question-head {
            display: flex;
            height: 45px;
            line-height: 45px;
            
            .que-icon {
                width: 45px;
                text-align: center;
                color: #FFFFFF;
                background-color: #000000;
            }
            .que-text {
                width: 100%;
                padding-left: 12px;
                box-sizing: border-box;
                font-weight: bold;
            }
            .que-add {
                width: 45px;
                height: 45px;
                box-sizing: border-box;
                padding: 11px;
            }
        }
        .question-body {
            font-size: 13px;
            padding: 20px 50px;
            box-sizing: border-box;

            &.close {
                display: none;
            }
            &.open {
                display: block;
            }
        }
    }
}

#submission-flow {
    display: flex;
    flex-wrap: wrap;
    width: 731px;
    margin: 0 auto;

    .submission-item {
        width: calc(50% - 26px);
        display: flex;
        flex-flow: column;
        padding: 40px 12px;
        justify-content: space-between;
        border: 1px solid #eeeeeeff;
        background-color: #f3f7fbff;
        position: relative;

        .submission-text {
            height: 60px;
            font-size: 13px;
            color: #747474ff;
        }

        .step {
            width: 100px;
            height: 35px;
            border-radius: 22px;
            color: #FFFFFF;
            background-color: #000000;
            text-align: center;
            line-height: 35px;
            position: absolute;
            top: -15px;
            left: -20px;
        }
    }
}

.h3-article {
    text-align: center;
    margin: 50px 0;
}

.h3-main {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}
.h4-sub {
    text-align: center;
    margin-bottom: 20px;
}

#sns-link {
    display: flex;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;

    li {
        list-style: none;
        width: 70px;
        height: 70px;

        a {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        &:nth-child(2) {
            width: 50px;
            height: 50px;
            padding: 10px 0;
        }
        &:nth-child(4) {
            width: 50px;
            height: 50px;
            padding: 10px 0;
        }
    }
}

#footer {
    width: 100%;
    padding: 30px 0;
    background-color: utils.$base-color;

    #glow-ft-img {
        width: 250px;
        height: 75px;
        margin: 0 auto;

        text-align: center;
        line-height: 75px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    #links {
        width: 250px;
        text-align: center;
        margin: 0 auto;
        list-style: none;
        margin-top: 30px;
        margin-bottom: 50px;
        
        li {
            padding: 4px 0;
        }
        a {
            text-decoration: none;
            color: #fffFFF;
        }
    }

    .copy-right {
        color: #f0f0f0;
        font-size: 13px;
        text-align: center;
    }
}

@media screen and (max-width: 746px) {
    #main-view {
        background-position: center bottom;

        .rectangle {
            $width-size: 100vw * 0.8;
            border-left-width: $width-size;
            border-top-width: $width-size * 0.5;
            top: -$width-size * 0.5;

            p {
                left: -($width-size - 5vw);
                bottom: -120px;
                font-size: 31px;
            }
        }
        .text-box {
            p {
                font-size: 30px;
                &.text-large {
                    font-size: 66px;
                }
            }
        }
    }
    #liver-fst {
        p {
            font-size: 13px;
            line-height: 1.5rem;
        }
        .link-btn {
            width: 90%;
            margin: 15px auto 0 auto;
            font-size: 13px;
        }
    }

    .container {
        width: 100%;
        display: block;

        h2 {
            padding-left: 12px;
            box-sizing: border-box;
            
            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .cnt-item-list {
            padding: 0 12px;
            box-sizing: border-box;

            .cnt-item {
                margin: 0 auto 20px auto;
            }
        }
    }

    #question {
        width: 100%;
        padding: 0 12px;
        box-sizing: border-box;
    }

    #submission-flow {
        display: block;
        width: 100%;
        padding: 0 25px;
        box-sizing: border-box;

        .submission-item {
            width: 90%;
            margin-bottom: 25px;

            h4 {
                margin-bottom: 10px;
            }
        }
    }

    #sns-link {
        box-sizing: border-box;
        width: 100%;
        padding: 0 12px;
    }
}